In [30]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr, avg as F

In [31]:
spark= SparkSession.builder.appName("Notas").getOrCreate()

In [32]:
spark

In [33]:
df= spark.read.csv("/data.csv", header=True, sep=";", inferSchema=True)

In [34]:
df.show()

+-----------+-----+-----+-----+
|Estudiantes|NOTA1|NOTA2|NOTA3|
+-----------+-----+-----+-----+
|       Juan|   17|   12|   13|
|    Patrick|   13|   15|   13|
|       Luis|   10|   18|   20|
|    Lorenzo|    9|   18|   14|
|    Martina|    8|   16|   20|
|   Cristina|   19|   13|   13|
|      Maggy|   15|   14|   12|
|      Elena|   16|   13|   13|
|      Clara|   12|   10|   18|
|   Estefany|   11|   10|   19|
+-----------+-----+-----+-----+

In [89]:

columns_var = ["NOTA1", "NOTA2","NOTA3"]

correlacion=df.select(corr("NOTA1","NOTA2").alias("Correlacion")).show()

+-------------------+
|        Correlacion|
+-------------------+
|-0.4535622736654446|
+-------------------+