In [30]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr, avg as F

In [31]:
spark= SparkSession.builder.appName("Notas").getOrCreate()

In [32]:
spark

In [33]:
df= spark.read.csv("/data.csv", header=True, sep=";", inferSchema=True)

In [34]:
df.show()

+-----------+-----+-----+-----+
|Estudiantes|NOTA1|NOTA2|NOTA3|
+-----------+-----+-----+-----+
|       Juan|   17|   12|   13|
|    Patrick|   13|   15|   13|
|       Luis|   10|   18|   20|
|    Lorenzo|    9|   18|   14|
|    Martina|    8|   16|   20|
|   Cristina|   19|   13|   13|
|      Maggy|   15|   14|   12|
|      Elena|   16|   13|   13|
|      Clara|   12|   10|   18|
|   Estefany|   11|   10|   19|
+-----------+-----+-----+-----+

In [36]:
df.select(mean(col("NOTA1")).alias("Media")).show()

+-----+
|Media|
+-----+
| 13.0|
+-----+

In [76]:
df_media= df.withColumn(
    "NOTA_FINAL", (col("NOTA1")+col("NOTA2")+col("NOTA3"))/3)

df_media.show()

+-----------+-----+-----+-----+------------------+
|Estudiantes|NOTA1|NOTA2|NOTA3|        NOTA_FINAL|
+-----------+-----+-----+-----+------------------+
|       Juan|   17|   12|   13|              14.0|
|    Patrick|   13|   15|   13|13.666666666666666|
|       Luis|   10|   18|   20|              16.0|
|    Lorenzo|    9|   18|   14|13.666666666666666|
|    Martina|    8|   16|   20|14.666666666666666|
|   Cristina|   19|   13|   13|              15.0|
|      Maggy|   15|   14|   12|13.666666666666666|
|      Elena|   16|   13|   13|              14.0|
|      Clara|   12|   10|   18|13.333333333333334|
|   Estefany|   11|   10|   19|13.333333333333334|
+-----------+-----+-----+-----+------------------+