In [30]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr, avg as F

In [31]:
spark= SparkSession.builder.appName("Notas").getOrCreate()

In [32]:
spark

In [33]:
df= spark.read.csv("/data.csv", header=True, sep=";", inferSchema=True)

In [34]:
df.show()

+-----------+-----+-----+-----+
|Estudiantes|NOTA1|NOTA2|NOTA3|
+-----------+-----+-----+-----+
|       Juan|   17|   12|   13|
|    Patrick|   13|   15|   13|
|       Luis|   10|   18|   20|
|    Lorenzo|    9|   18|   14|
|    Martina|    8|   16|   20|
|   Cristina|   19|   13|   13|
|      Maggy|   15|   14|   12|
|      Elena|   16|   13|   13|
|      Clara|   12|   10|   18|
|   Estefany|   11|   10|   19|
+-----------+-----+-----+-----+

In [79]:
var_moda = df.groupBy("NOTA1").count().orderBy(col("count").desc()).first()
var_moda2 = df.groupBy("NOTA2").count().orderBy(col("count").desc()).first()
var_moda3 = df.groupBy("NOTA3").count().orderBy(col("count").desc()).first()
var_moda4 = df_media.groupBy("NOTA_FINAL").count().orderBy(col("count").desc()).first()[0]

In [82]:
print("La moda de las notas 1 es : ", var_moda["NOTA1"])
print("La moda de las notas 2 es : ", var_moda2["NOTA2"])
print("La moda de las notas 3 es : ", var_moda3["NOTA3"])
print("La moda de las notas finales es : ", var_moda4)

La moda de las notas 1 es :  12
La moda de las notas 2 es :  13
La moda de las notas 3 es :  13
La moda de las notas finales es :  13.666666666666666